:root{
  --clr-secondary-100:0, 0%, 100%;
  --clr-primary-400:212, 45%, 89%;
  --clr-primary-300:220, 15%, 55%;  
  --clr-secondary-300:218, 44%, 22%;
  
  --fw-100:12px;
  --fw-200:400:
    --fw-300:700;
    
}
